<div>
    {{passed}} {{failed}} {{skipped}}
</div>
  <div>
      <div *ngFor="let feature of tests">
        <div class={{feature?.status}}>
          {{feature?.keyword}}: {{feature?.name}}
        </div>
        <div *ngFor="let scenario of feature.innerElements">
          <div class={{scenario?.status}}>
            {{scenario?.keyword}}: {{scenario?.name}}
          </div>
          <div *ngFor="let step of scenario.innerElements">
            <div class={{step?.status}}>
                {{step?.keyword}}: {{step?.name}} ({{step?.status}}) - {{step?.duration}}
            </div>
          </div>
        </div>
      </div>
    </div>